<div class="limbo-iddqd-content-app limbo-iddqd-content-versions" ng-controller="Limbo.Umbraco.Iddqd.ContentApps.ContentVersions.Controller as vm" ng-class="{loading: vm.loading}">
    <table class="table list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Current</th>
                <th>Name</th>
                <th>User</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="version in vm.versions">
                <td>{{version.id}}</td>
                <td>{{version.current ? 'Yes' : 'No'}}</td>
                <td class="fw">
                    <button type="button" class="btn btn-link" ng-click="vm.openVersion(version)" style="padding-left: 0; padding-right: 0;">
                        <strong>{{version.name}}</strong>
                    </button>
                </td>
                <td class="nw">
                    {{version.user.name}}
                </td>
                <td class="nw">
                    {{version.updateDate | date: 'yyyy-MM-dd HH:mm'}}
                    <small>({{version.updateDateDiff}})</small>
                </td>
            </tr>
        </tbody>
    </table>
    <umb-loadf-indicator ng-iff="vm.loading"></umb-loadf-indicator>
    <limbo-stairs ng-if="vm.loading"></limbo-stairs>
</div>