<div class="limbo-iddqd-examine" ng-controller="Limbo.Umbraco.Iddqd.Examine.Controller as vm" ng-class="{loading: vm.loading}">
    <div class="results" ng-if="vm.results.length > 0">
        <div class="result" ng-repeat="result in vm.results">
            <header>
                <h3>{{result.indexName}}</h3>
                <div>
                    <button ng-if="result.canReIndex" type="button" ng-click="vm.reIndex(result)" ng-disable="vm.loading" class="btn btn-danger btn-xs">Re-index node</button>
                </div>
            </header>
            <div class="alert alert-danger" ng-if="!result">Node not found in the <strong>{{result.indexName}}</strong> index.</div>
            <div class="umb-box" ng-if="result">
                <div class="umb-box-content">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th class="id nowrap" width="40">Id</th>
                                <th><localize key="general_name">Name</localize></th>
                                <th class="tr nowrap" width="40">Fields</th>
                                <th class="score tr nowrap" width="40">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr valign="top">
                                <td class="nowrap">{{result.id}}</td>
                                <td>
                                    <span>{{result.values['nodeName'] | umbCmsJoinArray:', ' }}</span>
                                </td>
                                <td class="tr nowrap">
                                    <button type="button"
                                            class="table__action-overlay color-green"
                                            ng-click="vm.showSearchResultDialog(result.values)">
                                        ({{result.fieldCount }} <localize key="examineManagement_fields">fields</localize>)
                                    </button>
                                </td>
                                <td class="tr nowrap umb-avatar--white">
                                    <span title="{{result.score }}">{{result.score | number:4 }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <umb-loadf-indicator ng-iff="vm.loading"></umb-loadf-indicator>
    <limbo-stairs ng-if="vm.loading"></limbo-stairs>
</div>