<div class="limbo-iddqd-content-version" ng-controller="Limbo.Umbraco.Iddqd.Overlays.ContentVersion.Controller as vm">
    <umb-editor-view>
        <umb-editor-header name="model.title"
                           loading="model.loading"
                           name-locked="true"
                           hide-alias="true"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>
        <umb-editor-container>
            <table class="table list">
                <thead>
                    <tr>
                        <th class="nw">Name / Alias</th>
                        <th class="nw">Value Type</th>
                        <th class="nw">Storage Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="property in vm.properties">
                        <th class="nw">
                            <strong>{{property.name}}</strong>
                            <div>
                                <small>{{property.alias}}</small>
                            </div>
                        </th>
                        <td class="nw">{{property.editor.valueType}}</td>
                        <td class="nw">{{property.storageType}}</td>
                        <td class="fw">
                            <div class="iddqd-property-value" ng-if="property.values.length === 0">
                                <em>Null</em>
                            </div>
                            <div class="iddqd-property-value" ng-repeat="value in property.values">
                                <strong ng-if="property.variesByCulture">{{value.culture ? value.culture : 'No culture'}}</strong>
                                <div ng-switch="property.editor.valueType">
                                    <div ng-switch-when="json">
                                        <limbo-iddqd-json-view value="value.value"></limbo-iddqd-json-view>
                                    </div>
                                    <div ng-switch-when="datetime">
                                        <span>{{value.value | date: 'yyyy-MM-dd HH:mm'}}</span> ({{value.diff}})
                                        <div class="color-grey"><small>{{value.sourceValue}}</small></div>
                                    </div>
                                    <div ng-switch-when="string">
                                        <div ng-switch="value.type">
                                            <div ng-switch-when="empty">
                                                <em>Empty string</em>
                                            </div>
                                            <div ng-switch-when="whitespace">
                                                <em>Whitespace</em>
                                            </div>
                                            <div ng-switch-default>
                                                <pre>{{value.value}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        <div ng-if="value.value === null">
                                            <em>Null</em>
                                        </div>
                                        <div ng-if="value.value !== null">
                                            <pre>{{value.value}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button ng-if="model.infiniteMode" action="model.close()" button-style="link" label-key="close" type="button" shortcut="esc"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>