<div class="limbo-iddqd-package" ng-controller="Limbo.Umbraco.Iddqd.Package.Controller as vm">
    <umb-editor-view>
        <umb-editor-header name="model.title"
                           loading="model.loading"
                           name-locked="true"
                           hide-alias="true"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-box-header title="Package Manifest"></umb-box-header>
                <umb-box-content>
                    <div>
                        <table class="table details">
                            <tr>
                                <th>ID</th>
                                <td>
                                    <code ng-if="vm.package.packageId">{{vm.package.packageId}}</code>
                                    <em ng-if="!vm.package.packageId">N/A</em>
                                </td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>
                                    <strong>{{vm.package.packageName}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <th>Version</th>
                                <td>
                                    <code ng-if="vm.package.version">{{vm.package.version}}</code>
                                    <em ng-if="!vm.package.version">N/A</em>
                                </td>
                            </tr>
                            <tr ng-if="vm.package.path">
                                <th>Path</th>
                                <td>
                                    <code>{{vm.package.path}}</code>
                                </td>
                            </tr>
                            <tr>
                                <th>Package telemetry</th>
                                <td>
                                    {{AllowPackageTelemetry ? "Yes" : "No"}}
                                </td>
                            </tr>
                        </table>
                        <div class="links" ng-if="vm.package.links.length > 0">
                            <a ng-repeat="link in vm.package.links" class="btn btn-default" href="{{link.url}}" target="_blank" rel="noopener noreferrer">
                                <umb-icon ng-if="link.icon" icon="{{link.icon}}"></umb-icon>
                                {{link.name}}
                            </a>
                        </div>
                    </div>
                </umb-box-content>
            </umb-box>
            <umb-box ng-if="vm.package.assembly">
                <umb-box-header title="Assembly"></umb-box-header>
                <umb-box-content>
                    <div>
                        <table class="table details">
                            <tr>
                                <th>Name</th>
                                <td><strong>{{vm.assembly.name}}</strong></td>
                            </tr>
                            <tr ng-if="vm.assembly.title">
                                <th>Title</th>
                                <td>{{vm.assembly.title}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.description">
                                <th>Description</th>
                                <td>{{vm.assembly.description}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.version">
                                <th>Version</th>
                                <td>{{vm.assembly.version}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.fileVersion">
                                <th>File Version</th>
                                <td>{{vm.assembly.fileVersion}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.company">
                                <th>Company</th>
                                <td>{{vm.assembly.company}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.product">
                                <th>Product</th>
                                <td>{{vm.assembly.product}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.copyright">
                                <th>Copyright</th>
                                <td>{{vm.assembly.copyright}}</td>
                            </tr>
                            <tr ng-if="vm.assembly.packageProjectUrl">
                                <th>Website</th>
                                <td>
                                    <div class="limbo-iddqd-link">
                                        <a href="{{vm.assembly.packageProjectUrl}}" target="_blank" rel="noreferrer">{{vm.assembly.packageProjectUrl}}</a>
                                        <umb-icon icon="icon-out"></umb-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="vm.assembly.documentationUrl">
                                <th>Documentation</th>
                                <td>
                                    <div class="limbo-iddqd-link">
                                        <a href="{{vm.assembly.documentationUrl}}" target="_blank" rel="noreferrer">{{vm.assembly.documentationUrl}}</a>
                                        <umb-icon icon="icon-out"></umb-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="vm.assembly.repositoryUrl">
                                <th>Repository</th>
                                <td>
                                    <div class="limbo-iddqd-link">
                                        <a href="{{vm.assembly.repositoryUrl}}" target="_blank" rel="noreferrer">{{vm.assembly.repositoryUrl}}</a>
                                        <umb-icon icon="icon-out"></umb-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="vm.assembly.marketplaceUrl">
                                <th>Umbraco Marketplace</th>
                                <td>
                                    <div class="limbo-iddqd-link">
                                        <a href="{{vm.assembly.marketplaceUrl}}" target="_blank" rel="noreferrer">{{vm.assembly.marketplaceUrl}}</a>
                                        <umb-icon icon="icon-out"></umb-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="vm.assembly.nuGetUrl">
                                <th>NuGet</th>
                                <td>
                                    <div class="limbo-iddqd-link">
                                        <a href="{{vm.assembly.nuGetUrl}}" target="_blank" rel="noreferrer">{{vm.assembly.nuGetUrl}}</a>
                                        <umb-icon icon="icon-out"></umb-icon>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button ng-if="model.infiniteMode" action="model.close()" button-style="link" label-key="close" type="button" shortcut="esc"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>