<div class="limbo-iddqd-property-editor-data-types" ng-controller="Limbo.Umbraco.Iddqd.PropertyEditorDataTypes.Controller as vm">
    <umb-editor-view>
        <umb-editor-header
            name="model.title"
            loading="model.loading"
            name-locked="true"
            hide-alias="true"
            hide-description="true"
            hide-icon="true">
        </umb-editor-header>
        <umb-editor-container>
            <table class="table list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Key</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dataType in model.dataTypes">
                    <td class="nw"><code>{{dataType.id}}</code></td>
                    <td class="nw"><code>{{dataType.key}}</code></td>
                    <td class="fw">
                        <button class="btn btn-link" ng-click="vm.openDataType(dataType)" style="padding-left: 0; padding-right: 0;">
                            <strong>{{dataType.name}}</strong>
                        </button>
                        <ul class="umb-breadcrumbs">
                            <li>
                                <umb-icon icon="icon-folder"></umb-icon>
                            </li>
                            <li class="umb-breadcrumbs__ancestor">
                                <span>Data Types</span>
                            </li>
                            <li ng-repeat="item in dataType.path" class="umb-breadcrumbs__ancestor">
                                <span class="umb-breadcrumbs__separator">&nbsp;/&nbsp;</span>
                                <span>{{item.name}}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button ng-if="model.infiniteMode" action="model.close()" button-style="link" label-key="close" type="button" shortcut="esc"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>