<div class="limbo-stairs">
    <svg width="39" height="49" viewBox="0 0 39 49" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 17.9134C0 7.93057 8.89981 0 19.5 0C30.1002 0 39 7.93057 39 17.9134V49H0V17.9134ZM19.5 3C10.2907 3 3 9.84146 3 17.9134V46H36V17.9134C36 9.84146 28.7093 3 19.5 3Z"></path>
        <rect class="top" x="22" y="19" wwidth="14" height="11" />
        <rect class="middle" x="14" y="28" wwidth="22" height="11" />
        <rect class="bottom" x="3" y="37" wwidth="33" height="11" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 37H39V49H0V37ZM3 40V46H36V40H3Z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 28H39V40H11V28ZM14 31V37H36V31H14Z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19 19H39V31H19V19ZM22 22V28H36V22H22Z" />
    </svg>
</div>