.limbo-iddqd-packages {

    .umb-box-header-title span {
        font-weight: normal;
        color: #666;
        font-size: 14px;
    }

    .--options {
        display: flex;
        margin-right: 20px;
        gap: 5px;
        input {
            margin: 0;
        }
    }

    em {
        color: #ccc;
    }

    .col-links {
        div {
            display: flex;
            gap: 5px;
            justify-content: flex-end;
        }
        .btn.btn-sm {
            padding: 3px 7px;
            font-size: 12px;
        }
    }

    td.nw {
        white-space: nowrap;
    }

    td.fw {
        width: 100%;
    }

    a.btn {
        cursor: pointer;
    }

    table.table.list {
        margin-bottom: 0;
        box-shadow: none;
        > thead > tr > th:first-child,
        > tbody > tr > td:first-child {
          padding-left: 0;
        }
    }

}

.limbo-iddqd-package {

    table.table.details {
        margin-bottom: 0;
        box-shadow: none;
        > tbody > tr > th {
          max-width: 150px;
          width: 150px;
          padding-left: 0;
        }
        > tbody > tr:first-child > th,
        > tbody > tr:first-child > td {
          border-top: 0;
        }
    }

    .links {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        a {
            display: flex; gap: 5px;
        }
    }

    em {
        color: #ccc;
    }

}